@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --imagen-bg: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    --color-bg: #D9AFD9;
    --font-principal: 'Jura', sans-serif;
    --bg-hover: #2bff8765;
    --boton-bg: #44a76b;
    --boton-imagen: linear-gradient(45deg, #44a76b 0%, #cde960 100%);
    
}

.contenedor__titulo {
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2:hover {
    color: white;
    transition: color 2s ease-in-out;
    font-weight: bold;
}

.contenedor__titulo p {
    color: white;
}

.titulo__principal {
    font-family: var(--font-principal);
    color: black;
}

.contenedor__general {
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
        "uno dos tres";
    gap: 20px;
    background-color: var(--color-bg);
    padding: 20px;
    font-family: var(--font-principal);

}

.contenedor__index{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    font-family: var(--font-principal);
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.parrafo__index {
    color: white;
    font-family: var(--font-principal);
    font-size: 30px;
}

.subtitulo__index a {
    color: white;
    text-decoration: none;
}

.subtitulo__index:hover {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

.imagen__index {
    height: 200px;

}

.contenedor__fotos {
    box-sizing: border-box;
    margin-top: 10px;
    gap: 5px;
    padding: 10px;
    display: grid;
    grid-template-areas:
        "uno uno dos tres"
        "cuatro cuatro cinco cinco"
        "seis seis siete siete"
        "ocho ocho ocho ocho";
    justify-items: stretch;
    align-items: stretch;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    width: 100%;

}

.grilla__imagenes--uno {
    grid-area: uno;
    box-sizing: border-box;

}

.grilla__imagenes--dos {
    grid-area: dos;
    box-sizing: border-box;

}

.grilla__imagenes--tres {
    grid-area: tres;
    box-sizing: border-box;

}

.grilla__imagenes--cuatro {
    grid-area: cuatro;
    box-sizing: border-box;

}

.grilla__imagenes--cinco {
    grid-area: cinco;
    box-sizing: border-box;

}

.grilla__imagenes--ocho {
    grid-area: seis;
    box-sizing: border-box;

}

.grilla__imagenes--siete {
    grid-area: siete;
    box-sizing: border-box;

}

.imagenes__hover {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 35%;

}

.imagenes__hover:hover {
    border-radius: 0%;
}

.presentacion__cartas:hover {
    background-color: var(--bg-hover);
    transition: background-color 2s ease-in-out;
}

.presentacion__boton {
    background-color: #97D9E1;
    border: none;
    color: black;
}

.div__pie {
    box-sizing: content-box;
}

.lista__pie {
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.link__pie {
    text-decoration: none;
    color: black;
}
.carruseles__completo{
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-family: var(--font-principal);
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.subtitulo__departamentos{
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;

}
.contenedor__carrusel{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 50%;
}
.imagenes__carrusel{
    height: 700px;
}
.boton__reserva{
    background-image: var(--boton-imagen);  
}
.contenedor__consideraciones{
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-family: var(--font-principal);
    box-sizing: border-box;
}
.contenedor__consideraciones p{
    font-size: 30px;
}
.contenedor__puntaje{
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "uno uno uno dos"
    "tres tres cuatro cuatro";
    justify-items: stretch;
    align-items: stretch;
}
.imagenes__puntaje--uno{
    grid-area: uno;
    box-sizing: border-box;
}
.imagenes__puntaje--dos{
    grid-area: dos;
    box-sizing: border-box;
}
.imagenes__puntaje--tres{
    grid-area: tres;
    box-sizing: border-box;
}
.imagenes__puntaje--cuatro{
    grid-area: cuatro;
    box-sizing: border-box;
}
.imagenes__puntaje{
    width: 100%;
    max-height: auto;
    border-radius: 5%;
    padding: 15px;
}
.boton__contacto{
    background-image: var(--boton-imagen);  
}
.contenedor__contacto{
    box-sizing: border-box;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    font-family: var(--font-principal);
    font-weight: bold;
}
.input__formulario--boton{
    padding-left: 45%;
}

a:active{
    background-color: var(--bg-hover);
}
.contenedor__nosotros--uno{
    height: 600px;
    box-sizing: border-box;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    display: flex;
    margin-top: 10px;
}
.bloque__titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--font-principal);
    padding: 15px;
    align-content: center;
    text-align: center;
    font-size: 22px;
    color: white;
}
.bloque__titulo:hover{
    color: black;
    transition: color 2s ease-in-out;
}
.contenedor__nosotros--dos{
    height: 600px;
    box-sizing: border-box;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.contenedor__nosotros--tres{
    height: 600px;
    box-sizing: border-box;
    background-color: var(--color-bg);
    background-image: var(--imagen-bg);
    display: flex;
    margin-top: 10px;
}
.contenedor__iframe{
    height: 600px;
    background-color: var(--color-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 25px;
    font-size: 22px;
    font-family: var(--font-principal);
}
.contenedor__iframe h5{
    font-size: 26px;
}
.iframe__mapa{
    max-height: 300px;
    width: auto;
}
@media (max-width:730px) {
    .contenedor__titulo {
        height: 350px;
        padding: 10px;
        text-align: center;
    }

    .contenedor__general {
        display: flex;
        flex-direction: column;
    }

    .contenedor__index {
        height: 350px;
        padding: 10px;
    }

    .imagen__index {
        height: 100px;
    }

    .contenedor__fotos {
        display: flex;
        flex-direction: column;
    }

    .imagenes__hover {
        max-height: 200px;
        border-radius: 0px;
    }
    .grilla__imagenes--uno{
        display: none;
    }
    .imagenes__carrusel{
        height: 350px;
    }
    .contenedor__carrusel{
        width: 75%;
    }
    .contenedor__puntaje{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imagenes__puntaje{
        max-height: 250px;
    }
    .contenedor__nosotros{
        flex-direction: column;
        font-size: 16px;
    }
    .contenedor__nosotros img{
        max-height: 100%;
        overflow: hidden;
    }
}