// informacion

.contenedor__general {
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
        "uno dos tres";
    gap: 20px;
    background-color: $color-bg;
    padding: 20px;
    font-family: $font-primary;

    @media (max-width:730px) {
        display: flex;
        flex-direction: column;
    }

    .presentacion__cartas {
        &:hover {
            background-color: $hover-bg;
            transition: background-color 2s ease-in-out;
        }

        .presentacion__boton {
            background-color: #97D9E1;
            border: none;
            color: black;
        }
    }

}