// nosotros

.contenedor__nosotros {
    height: 600px;
    box-sizing: border-box;
    background-color: $color-bg;
    background-image: $imagen-bg;
    display: flex;
    margin-top: 10px;


    .bloque__titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: $font-primary;
        padding: 15px;
        align-content: center;
        text-align: center;
        font-size: 16px;
        color: white;
        text-align: center;

        @media (max-width:730px) {

            display: flex;
            flex-direction: column;
            font-size: 16px;
            justify-content: stretch;
            align-content: stretch;
            height: auto;

        }

        &:hover {
            color: black;
            transition: color 2s ease-in-out;
        }

        @media (max-width:730px) {
            padding: 10px;
            text-align: center;
            margin-right: 7px;
        }

        p {
            @media (max-width:730px) {
                padding-right: 5%;
            }
        }
    }

    img {
        @media (max-width:730px) {
            max-height: 100%;
            overflow: hidden;
        }
    }
}


.contenedor__nosotros--dos {
    flex-direction: row-reverse;
}