$contenedores: (
    alto-desktop: 600px,
    alto-mobile: 350px,
    lg: 100%,
    md: 75%,
    sm: 50%
);

$font-size: (
    title-desktop: 30px,
    title-mobile: 22px,
    subtitulo-desktop: 20px,
    subtitulo-mobile:18px,
    subtitulo-menor:16px,
    text-desktop:20px,
    text-mobile:16px,
    text-menor:12px,

);