@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Raleway:wght@100&display=swap');

// colores
$imagen-bg: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
$color-bg: #D9AFD9;
$hover-bg: #2bff8765;

// color botones
$boton-bg: #44a76b;
$boton-imagen: linear-gradient(45deg, #44a76b 0%, #cde960 100%);

// texto
$font-primary: 'Jura', sans-serif;
