.boton{
    background-image: $boton-imagen;
    background-color: $color-bg;
    position: relative;
    top:10px;
}
.boton__reserva{
    background-image: $boton-imagen;
    background-color: $color-bg;

}