.contenedor__general {
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
        "uno dos tres";
    gap: 20px;
    background-color: $color-bg;
    padding: 20px;
    font-family: $font-primary;



    .presentacion__cartas {

        height: 200px;
        &:hover {
            background-color: $hover-bg;
            transition: background-color 2s ease-in-out;
        }

    }

}