// reseteo css
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


// titulo general
.contenedor__titulo {

    background-color: $color-bg;
    background-image: $imagen-bg;
    height: map-get($contenedores, alto-desktop );
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;



    h2 {
        font-family: $font-primary;
        color: black;

        &:hover {
            color: white;
            transition: color 2s ease-in-out;
            font-weight: bold;
        }
    }

    p {
        color: white;
    }
}

